<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>User List</title>
  </head>
  <body>
    <h1>User List</h1>

    <table border="1">
      <thead>
        <tr>
          <th>아이디</th>
          <th>이름</th>
          <th>나이</th>
          <th>성별</th>
        </tr>
      </thead>
      <tbody>
        <!-- data4 목록에서 객체를 하나씩 꺼내어 표에 출력 -->
        <tr th:each="user : ${data4}">
          <td th:text="${user.id}">1</td>
          <td th:text="${user.name}">홍길동</td>
          <td th:text="${user.age}">25</td>
          <td th:text="${user.gender}">남</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
